body {
    background-image: url('./assets/images/block-background.png');
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: #A5AA48;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Alegreya', sans-serif;
    text-align: center;
    width: 515px;
    margin: 40px auto;
}

article {
    display: flex;
    width: 80%;
    margin: 0 auto 100px auto;
    align-items: center;
    justify-content: space-between;
}

article > img {
    margin-right: 72px;
}

article > div > h2 {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #6B616E;
    margin: 0;
    margin-bottom: 20px;
}

article > div > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #6B616E;
    margin: 0;
    margin-bottom: 20px;
}

article > div > p > a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #6B616E;
    margin: 0;
    margin-bottom: 20px;
}

 
@media only screen and (max-width: 600px) {
    h1 {
        width: auto;
    }

    article > img {
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;
    }
    article {
        flex-direction: column;
        margin: auto;
        margin-bottom: 20px;
    }

    article > div > p {
        font-size: 14px;
    }
}